__pycache__/

*.csv
*.tsv
*.txt
*.json
*.pkl
*.h1
*.pth
*.sdf
*.mol
*.img
*.png
*.yaml
*.yml
*.toml

!data/**/*.csv
!data/**/*.tsv
!data/**/*.txt
!data/**/*.json
!data/**/*.pkl
!data/**/*.h1
!data/**/*.pth
!data/**/*.sdf
!data/**/*.mol

!smartrx_web/**/*.json
!smartrx_web/**/*.img
!smartrx_web/**/*.png

!.devcontainer/**/*.json

!.streamlit/**/*.yaml
!.streamlit/**/*.yml
!.streamlit/**/*.toml
